/* AnnualReport.css */

.staffreport-annual-report-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: #97cadb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-x: auto;
}

.staffreport-annual-report-container h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.staffreport-annual-report-container .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.bg-main{
  max-width: 100vw;
  max-height: 100;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #02457a;
}
.staffreport-annual-report-container .table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.staffreport-annual-report-container .table thead {
  background: #02457a;
  color: #fff;
}

.staffreport-annual-report-container .table th {
  padding: 12px;
  text-align: left;
  cursor: pointer;
}

.staffreport-annual-report-container .table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background 0.3s ease-in-out;
}

.staffreport-annual-report-container .table tbody tr:hover {
  background: rgba(0, 123, 255, 0.1);
}

.staffreport-annual-report-container .table td {
  padding: 12px;
}



.back-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.back-button:hover {
  color: #02457a;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .staffreport-annual-report-container {
    width: 95%;
    padding: 15px;
  }
  .staffreport-annual-report-container .table {
    font-size: 14px;
  }
}
